<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>login</title>
</head>
<body>
<form action="#" th:action="@{/signup}" method="post">
    <div>
        <label for="usernameInput">ユーザー名</label>
        <input type="text" name="username" id="usernameInput">
    </div>
    <div>
        <label for="passwordInput">パスワード</label>
        <input type="password" name="password" id="passwordInput">
    </div>
    <div>
        <button type="submit">登録</button>
    </div>
</form>
<a href="/login">ログイン</a>
</body>
</html>